.LoginPage {
    display: flex;
    justify-content: center;
}

.LoginPage-email {
    max-width: 300px;
    justify-content: center;
}

.LoginPage-password {
    max-width: 300px;
}

.LoginPage-button {
    display: flex;
    justify-content: center;
    margin-right: 5px;
    padding-right: 5px;
}