.ResponseCard {
    font-size: .9em;
    padding: 10px;
}

.ownerRespose {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.avatarResponse {
    width: 100%;
    border-radius: 50%;
}

.edit-button-comment {
    margin-right: 10px;
}