.NavBar {
    background-color: #f5f5dc;
    margin-bottom: 0;
    padding-bottom: 0;
}

.NavBar-icon {
    width: 100px;
    height: 100px;
    margin-left: 40px;
}

.avatarImg {
    width: 100%;
    height: 50px;
    margin-top: 10px;
    border-radius: 40px;
}

.NavBar-icon:hover {
    transform: scale(1.3);
    transition: transform 0.5s ease;
}

.NavBar-navlink {
    margin-right: 50px;
    margin-top: 10px;
    align-items: center;
}

.NavBar-navlink:hover {
    transform: scale(0.8);
    transition: transform 0.3s ease;
}

.NavBar-button {
    margin-right: 20px;
    align-items: center;
}

.NavBar a,
.offcanvas a {
    text-decoration: none;
    color: black;
}

.NavBar-modal-tile {
    text-align: center;
    margin-left: 175px;
}