.detail-page-buttons {
    margin-right: 30px;
}

.descriptionPost {
    font-size: 0.3em;

}

.categoriesTitle {
    font-weight: bold;
}

.itemListCat {
    margin-right: 5px;
    margin-top: 5px;
}

.TitleDetailspage {
    font-weight: bolder;

}

.PostDetailsPage {
    background-color: rgb(255, 254, 253);
}

.avatarPostDetails {
    width: 20%;
    height: 20%;
    border-radius: 50%;
}

.categoriesTitle {
    padding-top: 33px;

}

.descriptionDetails {
    text-align: justify;
}

.buttonsPostDetails {
    padding-bottom: 30px;

}