.detail-page-buttons {
    margin-right: 30px;
}

.categoriesDetails {
    margin-right: 5px;
}

.categoriesDetails i {
    color: green;
    padding: 10px;
    margin-right: 10px;

}

.descriptionPost {
    font-size: 0.9em;

}

.categoriesTitle {
    font-weight: bold;
}

.itemListCat {
    margin-right: 5px;
}

.TitleDetailspage {
    font-weight: bolder;

}

.userDataColumnDetails {
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}