.detail-page-buttons {
    margin: 10px 30px;
}

.categoriesTitle,
.TitleDetailspage {
    font-weight: bold;
}

.itemListCat {
    margin: 5px;
}

.PostDetailsPage {
    background-color: #fffef5;
}

.avatarPostDetails {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.categoriesTitle {
    padding-top: 33px;

}

.descriptionDetails {
    text-align: justify;
    padding: 0 15px;
}

.buttonsPostDetails {
    padding: 30px 0;

}